p{
    font-size: 20px;
    color: brown;
    font-family: Arial, Helvetica, sans-serif
}
#my-id{
    font-size: 20px;
    color: blueviolet
}
.text-success{
    color: green
}
.text-bold{
    font-weight: bold
}