<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
        <div style="margin:20px" >
          <button  *ngIf="!isShowForm" class="btn btn-primary" (click)="toogleForm()">+</button>
          <form *ngIf="isShowForm" 
            [formGroup]="productForm"
            (ngSubmit)="addProduct()"
           >
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" placeholder="Name" formControlName="name">
            </div>
            <div class="form-group">
              <label>Price</label>
              <input type="text" class="form-control" placeholder="Price" formControlName="price">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Add"
                [disabled]="productForm.invalid"
                >
                <input type="button" class="btn btn-danger" value="Cancel" style="margin-left:10px" 
                (click)="toogleForm()">
              </div>
          </form>
        </div>
        <p>{{filterProduct}}</p>
        <div style="margin:20px" >
          <select class="form-control" 
          [(ngModel)]="filterProduct">
            <option value="SHOW_ALL">SHOW ALL</option>
            <option value="WISHLIST">WISHLIST</option>
            <option value="NONE_WISHLIST">NONE WISHLIST</option>
          </select>
        </div>
        <div style="margin:20px" *ngFor="let product of listProduct">
          <div class="card"  *ngIf="filterProduct=='SHOW_ALL' ||
          product.wishlist && filterProduct=='WISHLIST' ||
          !product.wishlist && filterProduct=='NONE_WISHLIST'" >
            <div class="card-body">
              <div class="name">
                  <h5 class="card-title">{{product.name}}</h5>
                  <p *ngIf="product.wishlist"><i class="fas fa-heart"></i></p>
              </div>
              
              <p class="card-text">{{product.price | number }}</p>
              <div class="button">
                  <a *ngIf="!product.wishlist" class="btn btn-primary" 
                  (click)="setWishlist(product.id)"
                  >Add to Wishlist</a>
                  <a *ngIf="product.wishlist" class="btn btn-warning"
                  (click)="setWishlist(product.id)"
                  >Remove to Wishlist</a>
                  <a class="btn btn-danger" 
                  (click)="removeProduct(product.id)"
                  >Remove</a>
              </div>
            </div>
          </div>
        </div>
        
    </div>
  </div>
</div>
